.message {
  margin-left: 480px;
}

.imageAndText {
}

.imageAndText img {
}

.text {
  margin: -130px 0px 0px -450px;
  border: 1px solid brown;
  background-color: aqua;
  color: brown;
  padding: 10px;
  width: 30%;
}

.text:after {
    
}

.name {
  margin: 0px 0px 5px 0px;
}

.messageText {
}

.time {
  margin: 75px 60px 10px 75px;
}
