.buttonsContainer {
    margin-bottom: 70px;
}

.responseContainer {
    display: flex;
}

.imageContainer {
    display: flex;
    max-width: 450px;
    width: 100%;
    height: 300px;
    margin-right: 80px;
}

.image {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: right;
}

.code {
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 12px;
}

.button:not(:last-child) {
    margin-right: 24px;
}