.input:focus {
  border-color: #0066cc;
  outline: 0;
}

.input {
  padding: 15px;
  min-height: 36px;
  border: 1px solid #d1d1d1;
  border-radius: 5px;
  width: 100%;
  transition: border-color 0.4s;
}

.inputWrapper {
  width: 100%;
  display: flex;
  flex-direction: column-reverse;
}

.errorInput {
  border-color: #cc1439;
}

.error {
  color: #cc1439;
  font-size: 10px;
  margin-bottom: 5px;
}
