.friendMessage {
    margin-left: 40px;
}

.friendImageAndText {

}

.friendImageAndText img {

}

.friendText {
    margin: -130px 0px 0px 230px;
    border: 1px solid brown;
    background-color: beige;
    color: brown;
    padding: 10px;
    width: 23%;
}

.friendText:after {

}

.friendName {
    margin: 0px 0px 5px 0px;
}

.friendMessageText {

}

.friendTime {
    margin: 75px 60px 10px 75px;
}
