.greetingForm {
  font-size: 14px;
}

.inputAndButtonContainer {
  display: flex;
}

.error {
  color: #cc0000;
}

.error .errorInput {
  margin-bottom: 7px;
}

.input,
.errorInput {
  border: 1px solid #d1d1d1;
  width: 372px;
  margin-right: 12px;
  transition: border-color 0.4s;
  padding: 8px 12px;
  min-height: 36px;
  margin-bottom: 7px;
}

.input:focus {
  border-color: #0066cc;
}

.errorInput {
  border-color: #cc0000;
}

.button {
  border-radius: 3px;
  background-color: #0066cc;
  padding: 8px 24px;
  transition: opacity 0.4s;
  text-align: center;
  color: #ffffff;
  cursor: pointer;
  line-height: 1.4;
  align-self: self-start;
}

.button:focus {
  opacity: 0.8;
}

.button:active {
  opacity: 0.5;
}

.button:disabled {
  opacity: 0.5;
  cursor: default;
}

.text {
  display: block;
  margin-bottom: 9px;
  opacity: 0.5;
}

.greeting {
}
